 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Story</h2>
                    <br>
                    <!-- hr class="star-light"> --->
                    <div class="col-lg-12">
                      <img class="img-responsive" src="img/story_image.png" alt="profile-pic" />
                      </div>


                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 text-center">
                    <p>Jordan and Nye met while animators on the Sony release "Monster House".</p>
                    <p>Over the years they remained friends and often spoke on academics, technology, animation, but mostly about
                      how technology could be used in to compellingly interactive storytelling. One day their conversations led them to start 
                    an animation technolgy studio together. You are reading that studio's website. If you are interested in knowing more, we're trying a monthly newsletter,
                  which will mainly be the things we work on. Sign up if you interested!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://google.com" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Sign up for Info
                    </a>
                </div>
            </div>
        </div>
    </section>
