 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Story</h2>
                    <br>

                    <div class="col-lg-12">

                      </div>
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 text-center">

                    <p>Jordan and Nye met while animators on the 2005 feature film "Monster House."</p>
                    <p>Over the years they remained friends and often spoke about technology, content development, teaching, animation, and AI. </p>
                    <p>When the virus hit, both of them decided it was time. They created Box Rocket, a studio with the mission to balance great storytelling,
                      new technology research, and a distributed pipeline that facilitates great creative collaboration.</p>
                    <p>We'd love to hear what you think. Feel free to email us to say "hello!"</p>
                </div>
                  <!-- hr class="star-light"> --->
                  <br>
                <center><img class="img-responsive" src="img/about_image.png" alt="profile-pic" /></center>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:hello@boxrocket.studio" class="btn btn-lg btn-outline">
                        <i class="fa fa-email"></i> Say Hello!
                    </a>

                </div>
            </div>
        </div>
    </section>
